.PageReviews {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 200px;
}

.PageReviews h1 {
  font-size: 2em;
  text-align: center;
}
.PageReviews.dark {
  color: #fff;
}
.PageReviews.light {
  color: black;
}
